@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: rgb(15,180,108);
    background: linear-gradient(90deg, rgba(15,180,108,1) 0%, rgba(0,255,144,1) 65%, rgb(121, 235, 185) 100%);
}

.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30px;
    padding: 30px 40px;
    
}
#new-task{
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.9);
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

#new-task input{
    width: 100%;
    margin-top: 30px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    border-radius: 9px;
}

#new-task input:focus{
    outline: none;
    border-color: rgb(0, 255, 145);
    background-color: #f3f3f3;
}

#new-task button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    background-color: rgb(0, 255, 145);;
    color:#ffff;
    cursor: pointer;
    outline: none;
}

#tasks{
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    width: 100%;
    position: relative;
}

